<%= form_for(@cust_upload) do |f| %>
  <% if @cust_upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cust_upload.errors.count, "error") %> prohibited this cust_upload from being saved:</h2>

      <ul>
      <% @cust_upload.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :cust_file_url %><br />
    <%= f.text_field :cust_file_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
