<h1>Listing cust_uploads</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cust file url</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cust_uploads.each do |cust_upload| %>
  <tr>
    <td><%= cust_upload.name %></td>
    <td><%= cust_upload.cust_file_url %></td>
    <td><%= link_to 'Show', cust_upload %></td>
    <td><%= link_to 'Edit', edit_cust_upload_path(cust_upload) %></td>
    <td><%= link_to 'Destroy', cust_upload, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cust upload', new_cust_upload_path %>
