<!DOCTYPE html>
<html>
  <head>
    <title>Painting Gallery</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div id="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, id: "flash_#{name}" %>
      <% end %>
      <%= link_to "Add Painting", paintings_path %>
      <%= link_to "Upload Files", cust_uploads_path %>
      <%= yield %>
    </div>
  </body>
</html>
